<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Matthias Mailänder</string>
	<key>description</key>
	<string>Support for Linux &lt;a href="http://standards.freedesktop.org/desktop-entry-spec/"&gt;Desktop Entry Specification&lt;/a&gt; / files.</string>
	<key>name</key>
	<string>desktop</string>
</dict>
</plist>
